.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1bb9d4;
    background-color: #fff;
    padding: 1.5rem;
}

.navigationbar-left {
    display: flex;
    align-items: center;
}

.navigationbar-center .navigation-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigationbar-center .navigation-links li {
    margin-right: 1rem;
}

.navigationbar-center .navigation-links a {
    color: #888;
    text-decoration: none;
}

.navigationbar-right {
    display: flex;
    align-items: center;
}